<h1> Pau manda, los monstruos obedecen </h1>
<h3> ¿Qué desea hacer? </h3>
<ul>
  <li> <%= link_to "Nuevo Tweet", new_tweet_path %></li>
  <li> <%= link_to "Listado de Monstruos", monstruos_path %></li>  
  <li> <%= link_to "Listado de Victimas", victimas_path %></li> 
</ul>

<footer>

 <%= link_to "Ayuda", ayuda_path %> 
</footer>